header img{
    height: 10em;
    width: auto;
}

#body_connect {
    background-image: url('../Pngtreegold_.png');
    }


.minipic{
    height: 50px;
    width: auto;
}

.songs_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.songs_unit{
    padding-top: 1em;
    border:1px black solid;
}

.playlist_wrapper{
    border: 1px black solid;
}

.playlist_song_list{
    border: 1px black solid;

}

li{
    list-style: none;
}

/* page audioplayer_playlist */

.audioplayer_wrapper{
    width: 100vw;
}
.link_playlist:link{
 color: black;
 text-decoration: none;
}
.link_playlist:visited{
    color: black;
    text-decoration: none;
}

.playslist_row:hover{
        background-color: rgba(0, 0, 0, 0.091);
}
