header img{
    height: 8em;
    width: auto;
}

body{
    background-image: url('../Pngtreegold_.png');
    }


.minipic{
    height: 50px;
    width: auto;
}

.songs_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.songs_card{
    border: black 1px solid;
    background-color:#000000a5;
    color: beige;
}
.songs_card svg{
       fill: beige;
}
.container_connect{
    width: 100vw;
    height: 100vh;
}
.card_connect{
    background-color: rgba(0, 0, 0, 0.705)!important;
    border-radius: 25px;
    border: 1px black solid;
    box-shadow: 2px 2px 2px black;
}


.playlist_wrapper{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    border: 1px black solid;
}

.playlist_song_list{
    border: 1px black solid;
    background-color: rgba(220, 198, 72, 0.801);

}

li{
    list-style: none;
}
.suppr_button{
    font-size: x-small;
}
/* page audioplayer_playlist */

#onplay svg{
    fill: rgb(209, 212, 20);
    background: linear-gradient(180deg #d3d01b #000000 #d3d01b);
}

.audioplayer_wrapper{
    width: 100vw;
}
.link_playlist:link{
 color: black;
 text-decoration: none;
}
.link_playlist:visited{
    color: black;
    text-decoration: none;
}

.playslist_row:hover{
        background-color: rgba(0, 0, 0, 0.758);
        color: antiquewhite;
}
