header img{
    height: 8em;
    width: auto;
}

body{
    background-image: url('../Pngtreegold_.png');
}


.minipic{
    height: 50px;
    width: auto;
}

.songs_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.songs_card{
    border: black 1px solid;
    background-color:#000000a5;
    color: beige;
}
.songs_card svg{
       fill: beige;
}
.container_connect{
    width: 100vw;
    height: 100vh;
}
.card_connect{
    background-color: rgba(0, 0, 0, 0.705)!important;
    border-radius: 25px;
    border: 1px black solid;
    box-shadow: 2px 2px 2px black;
}


.playlist_wrapper{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    border: 1px black solid;
}

.playlist_song_list{
    border: 1px black solid;
    background-color: rgba(220, 198, 72, 0.801);

}

li{
    list-style: none;
}
.suppr_button{
    font-size: x-small;
}
/* page audioplayer_playlist */

audio::-webkit-media-controls-panel{
    background-color:rgba(0, 0, 0, 0)
}

.audioplayer_wrapper svg{
    fill: rgb(209, 212, 20);
    
}

.playslist_row{

    border: black 1px solid;
    background-color:#000000a5;
}

.audioplayer_wrapper{
    width: 100vw;
}
.link_playlist:link{
    color: beige;
 text-decoration: none;
}
.link_playlist:visited{
    color: beige;
    text-decoration: none;
}

.playslist_row:hover{
       filter: grayscale(50);
}

.link_playlist:link:hover{
    color: rgb(130, 130, 16);
 text-decoration: none;
}

.link_playlist:visited:hover{
    color: rgb(130, 130, 16);
 text-decoration: none;
}

/* singers */
h4{
    color: rgb(138, 128, 17);
}

.songs_of_singer{
    background-color: #363636;
 
}
h4:hover{
    color: #363636;
}



